Body{background: rgb(227,232,232);
background: radial-gradient(circle, rgba(227,232,232,1) 0%, rgba(205,217,255,1) 100%);}
nav{background: rgb(227,232,232);
    background: radial-gradient(circle, rgba(227,232,232,1) 0%, rgba(5,245,17,1) 100%);}
.text-monospace{text-align: center;}
   